{% extends 'base.html' %}

{% block content %}
{% include 'fac_tabs.html' %} 

<div class="row">
 {% include 'add_record.html' %}
  <div class="col-sm-9">
    {% if items %}
     <h4 class="text-center alert alert-info"> {{header}} </h4> 
     <table class="table table-bordered table-hover" id="table_main">
      <thead class="thead-dark">
          <tr>
            <th scope="col">No</th>
            <th scope="col">Title</th>
            <th scope="col">Name of author(s)</th>
            <th scope="col">Publication</th>
            <th scope="col">ISBN number</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody id="table_row">
            {% for item in items %}
          <tr>
            <th scope="row" style="text-align: center;">{{item.id}}</th>
            <td style="text-align: center;">{{item.title}}</td>
            <td style="text-align: center;">{{item.author_name}}</td>
            <td style="text-align: center;">{{item.publication}}</td>
            <td style="text-align: center;">{{item.ISBN}}</td>
            <td>
              <a href="#" class="btn btn-outline-secondary btn-sm">Update</a>
               <form action="#" method="POST">
                {% csrf_token %}
                   <input type="submit" class="btn btn-outline-danger btn-sm inline" value="Delete">
               </form>
            </td>
          </tr>
            {% endfor %}
        </tbody>
      </table>
     {% else %}
     <h4 class="text-center alert alert-info"> {{header}} </h4>
     <h4 class="text-center alert alert-warning">No Records Found !</h4>
     {% endif %}
  </div>
</div>

{% endblock content %}
