{% extends 'base.html' %}

{% block content %}
<!-- {% include 'fac_ach_tabs.html' %}  -->

<div class="row">
 {% include 'add_record.html' %}
  <div class="col-sm-9">
    {% if fac %}
     <h4 class="text-center alert alert-info"> {{header}} </h4> 
     <table class="table table-bordered table-responsive table-hover">
      <thead class="thead-dark">
          <tr>
            <th scope="col">No</th>
            <th scope="col">Title</th>
            <th scope="col">Name of author(s)</th>
            <th scope="col">Publication</th>
            <th scope="col">ISBN number</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            {% for fac in faculty %}
          <tr>
            <th scope="row" style="text-align: center;">{{fac.id}}</th>
            <td style="text-align: center;">{{fac.title}}</td>
            <td style="text-align: center;">{{fac.author_name}}</td>
            <td style="text-align: center;">{{fac.publication}}</td>
            <td style="text-align: center;">{{fac.ISBN}}</td>
            <td>
               <a href="{% url 'update' st.id %}" class="btn btn-outline-secondary btn-sm">Update</a>
               <form action="{% url 'delete' st.id %}" method="POST">
                {% csrf_token %}
                   <input type="submit" class="btn btn-outline-danger btn-sm inline" value="Delete">
               </form>
            </td>
          </tr>
            {% endfor %}
        </tbody>
      </table>
     {% else %}
     <h4 class="text-center alert alert-info"> {{header}} </h4>
     <h4 class="text-center alert alert-warning">No Records Found !</h4>
     {% endif %}
  </div>
</div>

{% endblock content %}
