asgiref==3.2.10
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
configparser==5.0.1
crayons==0.4.0
Django==3.1.2
django-adminlte3==0.1.6
django-filter==2.3.0
djangoajax==3.2
djangorestframework==3.12.2
idna==2.10
Markdown==3.3.4
mysqlclient==2.0.1
pytz==2020.1
PyYAML==5.4.1
requests==2.25.1
selenium==3.141.0
sqlparse==0.4.1
urllib3==1.26.3
webdriver-manager==2.5.3
