{% block tabs %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<div>
  <h4 class="text-center alert alert-primary">Academic Performance</h4>
</div>
<ul class="nav nav-tabs">
    <li  class="active"><a href="{% url 'add_show' %}">STUDENT RESULT</a></li>
</ul>
<br>
<div>
  <form class="form-inline mr-auto mb-4 d-flex justify-content-end" onkeydown="return event.key != 'Enter';">
    <input id="search" class="form-control mr-sm-2" type="text" placeholder="Search Table..">
    <span class="glyphicon glyphicon-search"></span>
    <button class="btn" onclick="DownloadCsv('table_main')"><i class="fa fa-download"></i> Download</button>
  </form>
</div>

{% endblock %}
