{% extends 'base.html' %}

{% block content %}
{% include 'add_show_tabs.html' %} 

<div class="row">
 {% include 'add_record.html' %}
  <div class="col-sm-9">
    {% if stu %}
     <h4 class="text-center alert alert-info"> {{header}} </h4> 
     <table class="table table-bordered table-responsive table-hover" id="table_main">
      <thead class="thead-dark">
          <tr>
            <th scope="col">No</th>
            <th scope="col">Department</th>
            <th scope="col">Class</th>
            <th scope="col">Examination Type</th>
            <th scope="col">Subject</th>
            <th scope="col">Examination Date</th>
            <th scope="col">Candidates Appeared</th>
            <th scope="col">Candidates Passed</th>
            <th scope="col">Passing Percentage</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody id="table_row">
            {% for st in stu %}
          <tr>
            <th scope="row" style="text-align: center;">{{st.id}}</th>
            <td style="text-align: center;">{{st.department}}</td>
            <td style="text-align: center;">{{st.Class}}</td>
            <td style="text-align: center;">{{st.exam_type}}</td>
            <td style="text-align: center;">{{st.subject}}</td>
            <td style="text-align: center;">{{st.date}}</td>
            <td style="text-align: center;">{{st.appeared}}</td>
            <td style="text-align: center;">{{st.passed}}</td>
            <td style="text-align: center;">{{st.perct}} %</td>
            <td>
               <a href="{% url 'update' st.id %}" class="btn btn-outline-secondary btn-sm">Update</a>
               <form action="{% url 'delete' st.id %}" method="POST">
                {% csrf_token %}
                   <input type="submit" class="btn btn-outline-danger btn-sm inline" value="Delete">
               </form>
            </td>
          </tr>
            {% endfor %}
        </tbody>
      </table>
     {% else %}
     <h4 class="text-center alert alert-info"> {{header}} </h4>
     <h4 class="text-center alert alert-warning">No Records Found !</h4>
     {% endif %}
  </div>
</div>

{% endblock content %}
