{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-sm-8">
        <div class=" col-sm-8 jumbotron shadow">
            <h1>Update: {{header}}</h1>
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" class="btn btn-success" value="save changes">
            <a href="{% url 'add_show' %}" class="btn btn-info">Back</a>
            {% include 'messages.html' %}
        </form>
    </div>
</div>

{% endblock %}