{% extends "base.html" %} 
{% load static %}
{%block head%}
<link rel="stylesheet" href="{% static 'department/css/style.css'%}">
{% endblock %}


{% block content %}



<div class="about-section">

    <h1 style="font-family:monospace;">About Us</h1><br><br>
    <p>This project is developed by Students of Third year CSE Students Under the prestigious guidance of Our Mentor Prof. Avinash M Ingole sir of esteemed Bharati Vidyapeeth College of Engineering Lavale . </p>
    <br><br>
    <p>
      This project is developed to digitalize the<i> Montly Draft System</i> used by organisation and to replace old and hectic paperwork required by the project. In addition to this the project has following benefits.
      <ul style="text-align: left;">
        <li>Admin panel to Edit,Maintain and solve issues</li>
        <li>User can edit,update and download data all in you favourite Excel file!</li>
        <li>Easy and Simple User Interface designed to boost your productivity (Pro tip:- It's much simpler than working on paper or Excel )</li>
        <li>Date filter to help you find previously stored data</li>
        <li>One click download Final Monthly draft From HOD and admin panel!</li>
        <li>Responsive Website (i.e You can work anywhere anytime, all you need is internet and a smarphone) <strong>COMING SOON!</strong></li>
      </ul>
    </p>
  </div>
  
  <!--<img src="{% static "department/images/ERP_banner.png" %}" width="200" height="200" alt="logo"  />-->
  <br><br><br>
  <h2 style="text-align:center;  font-family:cursive">Who we are ...</h2>
  <br><br><br>
  <div class="row">
    <div class="column">
      <div class="card text-white border-dark bg-dark mb-3">
        <img src="{% static "department/images/ingolesir.jpg" %}" alt="logo"   style="width:100%"/> 
        <div class="container">
          <h2 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">Prof. Avinash M Ingole</h2>
          <p class="title">Mentor</p>
          <p>Computer Engineering </p>
          <p><i>avinash.ingole@bharatividyapeeth.edu</i></p>
          <p><button class="button text-dark bg-light">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card text-white border-dark bg-dark mb-3">
        <img src="{% static "department/images/Priyanshu.jpeg" %}" alt="logo"   style="width:100%"/> 
        <div class="container">
          <h2 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">Priyanshu Singh</h2>
          <p class="title">Developer</p>
          <p >TE Computer Engineering</p>
          <p><i>priyanshu.singh-bvcoel@bvp.edu.in</i></p>
          <p><button class="button text-dark bg-light">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card text-white border-dark bg-dark mb-3">
        <img src="{% static "department/images/saurabh.jpg" %}" alt="logo"   style="width:100%"/> 
        <div class="container">
          <h2 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">Saurabh Dharwadkar</h2>
          <p class="title">Developer</p>
          <p>TE Computer Engineering</p>
          <p><i>saurabh.dha-bvcoel@bvp.edu.in</i></p>
          <p><button class="button text-dark bg-light">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card text-white border-dark bg-dark mb-3">
        <img src="{% static "department/images/Shubham.jpeg" %}" alt="logo"   style="width:100%"/>
        <div class="container">
          <h2  style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">Shubham Bhavsar</h2>
          <p class="title">Developer</p>
          <p>TE Computer Engineering</p>
          <p><i>Shubham.bhavsar-bvcoel@bvp.edu.in</i></p>
          <p><button class="button text-dark bg-light">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card text-white border-dark bg-dark mb-3">
        <img src="{% static "department/images/Chandramani.jpg" %}" alt="logo"   style="width:100%;"/> 
        <div class="container">
          <h2 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">Chandramani Pandey</h2>
          <p class="title">Developer</p>
          <p>TE Computer Engineering</p>
          <p><i>chandramani.pandey-bvcoel@bvp.edu.in</i></p>
          <p><button class="button text-dark bg-light " ">Contact</button></p>
        </div>
      </div>
    </div>


    
  
  
  </div>
{%endblock%}



