{% block record %}
<div class="col-sm-3 shadow">
  <h4 class="text-center alert alert-info">Add new Record</h4>
  <form action="" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <div>
      <input type="submit" class="btn btn-success" value="Add" />
      <br>
      <br>
      <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <strong>{{note}}</strong>
      </div>
    </div>
    <br>
  </form>
</div>
{% endblock %}