{% block counts %}
{% load custom_filters %}
{% if count %}
<p class="form-inline mr-auto mb-4 d-flex justify-content-end">
  <button class="btn btn-outline-secondary btn-m" type="button" data-toggle="collapse" data-target="#contentId" aria-expanded="false"
      aria-controls="contentId">
    Show Counts
  </button>
</p>
<div class="collapse" id="contentId">
<table class="table table-bordered  table-hover" id="table_count">

    <thead class="thead-dark">
     <tr>
      <th scope="col" style="text-align: center;">No</th>
        <th scope="col" style="text-align: center;"></th>
        <th scope="col" style="text-align: center;">Number</th>
    </tr>
    </thead>
  
    <tbody>
      {% for item1, item2 in title|zip:count %}
        <tr>
          <td style="text-align: center;">{{forloop.counter}}</td>
          <td style="color:rgb(45, 161, 16)">Number of {{item1}}</td>
          <td style="text-align: center;">{{item2}}</td>
        </tr>
        {% endfor %}
        
    </tbody>
  </table>
</div>
{% endif %}
{% endblock %}