{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
{% include tab_link %}

<div class="row">
    {% include 'add_record.html' %}
     <div class="col-sm-9">

        {% if events %}
        <h4 class="text-center alert alert-info"> {{header}} </h4> 
        <table class="table table-bordered  table-hover" id="table_main">

            <thead class="thead-dark">
             <tr>
                <th scope="col" style="text-align: center;">No</th>

                {% for instance in data %}
                    {% if forloop.first %}
                        {% for field, value in instance.fields.items %}
                            <th scope="col">{{ field|replace_to_space }}</th>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                <th scope="col">Action</th>
                
            </tr>
            </thead>

            <tbody id="table_row">
                {% for instance in data %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    {% for field, value in instance.fields.items %}
                    <td>{{ value }}</td>
                    {% endfor %}
                    <td>
                        <a href="{% url update_link pk=instance.pk %}" class="btn btn-outline-success btn-sm">Update</a>
                        <a href="{% url delete_link pk=instance.pk %}" class="btn btn-outline-danger btn-sm inline">Delete</a>
                    </td>
                </tr>
                {% endfor %}
           </tbody>

         </table>

        {% else %}
        <h4 class="text-center alert alert-info"> {{header}} </h4>
        <h4 class="text-center alert alert-warning">No Records Found !</h4>
        {% endif %}
     </div>

   </div>

{% endblock %}

           