{% block messages %}

{% if messages %}
<ul class="messages">
  {% for msg in messages %}
  <li class="list-unstyled">
    <div class="alert alert-{{msg.level_tag}}" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>{{msg.message}}
    </div>
  </li>
  <script>window.setTimeout(function() {
    $(".alert").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove(); 
    });
}, 4000);</script>
  {% endfor %}
</ul>
{% endif %}

{% endblock %}