{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Form Registration</title>
        <meta charset="UTF-8">
        <!-- <link rel="stylesheet" href="css.css"> -->
        <!-- <link rel="stylesheet" href="{% static 'department/css/test.css'%}"> -->

    </head>
    <body>
        <div class="alert alert-secondary" role="alert">
            <p>Register</p>
        </div>

        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <input type="submit" value="Submit">
        </form>
        

        <script>
            // Query all input fields
            var form_fields = document.getElementsByTagName('input')
            form_fields[1].placeholder = 'First Name..';
            form_fields[2].placeholder = 'Last Name..';
            form_fields[3].placeholder = 'Username..';
            form_fields[4].placeholder = 'Email..';
            form_fields[5].placeholder = 'Password..';
            form_fields[6].placeholder = 'Password..';

            for (var field in form_fields) {
                form_fields[field].className += ' form-control'
            }
        </script>
    </body>
</html>

<p>Test Commit</p>