{% extends 'department/base.html' %}

{% block content %}
{% include 'department/tabs.html' %} 

<div class="row">
  <div class="col-sm-4">
    <h4 class="text-center alert alert-info">Add new Record</h4>
    <form action="" method="POST">
      {% csrf_token %}
      {{form.as_p}}
      <input type="submit" class="btn btn-success" value="Add" />
      {% include 'messages.html' %}
    </form>
  </div>
  <div class="col-sm-7 offset-1">
    {% if stu %}
     <h4 class="text-center alert alert-info"> {{header}} </h4> 
     <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Department</th>
            <th scope="col">Employer</th>
            <th scope="col">Date</th>
            <th scope="col">Package</th>
            <th scope="col">Reference</th>
            <th scope="col">Action</th>
          </tr>        </thead>
        <tbody>
            {% for st in stu %}
          <tr>
            <th scope="row" style="text-align: center;">{{st.id}}</th>
            <td style="text-align: center;">{{st.name}}</td>
            <td style="text-align: center;">{{st.departments}}</td>
            <td style="text-align: center;">{{st.employer}}</td>
            <td style="text-align: center;">{{st.date}}</td>
            <td style="text-align: center;">{{st.package}}</td>
            <td style="text-align: center;">{{st.ref_no}}</td>
            <td>
               <a href="{% url 'update' st.id %}" class="btn btn-outline-secondary btn-sm">Update</a>
               <form action="{% url 'delete' st.id %}" method="POST" class="inline">
                {% csrf_token %}
                   <input type="submit" class="btn btn-outline-danger btn-sm" value="Delete">
               </form>
            </td>
          </tr>
            {% endfor %}
        </tbody>
      </table>
     {% else %}
     <h4 class="text-center alert alert-warning">No Records Found !</h4>
     {% endif %}
  </div>
</div>
{% endblock content %}
