<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Departments</title>
    <link rel="stylesheet" href="{% static 'department/css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'department/css/w3.css'%}">
    <link rel="stylesheet" href="{% static 'department/css/style.css'%}">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> -->
</head>
<body>




<div id="logoalign" class="text-primary" > 
    <img src="{% static "department/images/logo.jpeg" %}" width="200" height ="120" alt="logo" />
    <ul style="list-style-type:none"> 
     <li><h3>Bharati Vidyapeeth College Of Engineering</h3></li>
     <li><h4>Lavale, Pune - 412115</h4></li>
     <li><h6>Affiliated to Savitribai Phule Pune University</h6></li>
    </ul> 
</div>




    <!--Navbar-->
        
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
       
         <!--Side menu bar-->
        <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{% url 'add_show' %}">Students Academic Performance</a>
        <a href="{% url 'dept_act_3' %}">Departmental Activities</a>
        <a href="#">Faculty Contribution</a>
        <a href="#">Faculty Achievements</a>
        <a href="#">Industry–Institute Interaction</a>
        <a href="#">Curriculum Input</a>
        <a href="#">Student /Faculty Support System</a>
        <a href="#">Extra Curricular Activities</a>
        <a href="#">E-Cell</a>
        <a href="#" id="logout">Logout</a>
      </div>
          
        <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
     
        <div id="main">
          <span style="font-size:30px;cursor:pointer;color:white;" onclick="openNav();">&#9776;</span>
        </div>


        <a class="navbar-brand" href="{% url 'add_show' %}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent ">
          <ul class="navbar-nav ml-auto">
            
            
            <li class="nav-item active ml-auto" >
              <a class="nav-link" href="#">Department <span class="sr-only">(current)</span></a>
            </li>
            
            
            <li class="nav-item ml-auto">
              <a class="nav-link" href="#">Placement</a>
            </li>
            
            
            <li class="nav-item ml-auto">
                <a class="nav-link " href="#">Library</a>
            </li>    
              <!-- Dropdown for login logut profile page 

              <li class="nav-item dropdown">  
             <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>

              -->
            
          </ul>
          <!-- For search bar
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form> -->
        </div>
      </nav>

      
      

    
    
      <div class="container mt-5">
        
        {% block content %} 
        {% endblock content %}
        
      </div>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>








 <!-- JS to open and close sidebar with overlay effect -->
 <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
      document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    }
    
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      document.getElementById("main").style.marginLeft= "0";
      document.body.style.backgroundColor = "white";
    }
</script>
    



</body>
</html>