{% extends 'department/base.html' %}

{% block content %}
{% include 'department/dept_act_tabs.html' %}

<div class="row">
    {% include 'add_record.html' %}
    <div class="col-sm-9">
        {% if event %}
        <h4 class="text-center alert alert-info"> {{header}} </h4>
         <table class="table table-bordered table-responsive table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">No</th>
                <th scope="col">Department</th>
                <th scope="col">Name of student</th>
                <th scope="col">Type of Event</th>
                <th scope="col">Name of Event</th>
                <th scope="col">Organizing Institute/ University</th>
                <th scope="col">Duration (From)</th>
                <th scope="col">Duration (To)</th>
                <th scope="col">No of Participants</th>
                <th scope="col">Level</th>
                <th scope="col">Recognition Awards</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                {% for ev in event %}
              <tr>
                <th scope="row" style="text-align: center;">{{ev.id}}</th>
                <td style="text-align: center;">{{ev.department}}</td>
                <td style="text-align: center;">{{ev.student_name}}</td>
                <td style="text-align: center;">{{ev.event_type}}</td>
                <td style="text-align: center;">{{ev.event_name}}</td>
                <td style="text-align: center;">{{ev.org_inst}}</td>
                <td style="text-align: center;">{{ev.from_date}}</td>
                <td style="text-align: center;">{{ev.to_date}}</td>
                <td style="text-align: center;">{{ev.no_of_part}}</td>
                <td style="text-align: center;">{{ev.level}}</td>
                <td style="text-align: center;">{{ev.awards}}</td>
              </tr>
                {% endfor %}
            </tbody>
          </table>
         {% else %}
         <h4 class="text-center alert alert-info"> {{header}} </h4>
         <h4 class="text-center alert alert-warning">No Records Found !</h4>
         {% endif %}
      </div>
</div>

{% endblock %}