{% block tabs %}
  <div>
    <h4 class="text-center alert alert-info">{{ header }}</h4>
  </div>
  <div class="add_buttons">
    <div class="button-group">
      <a href="" class="btn btn-primary btn-md btn-trim" role="button"> TAB 1</a>
      <a href="" class="btn btn-primary btn-md btn-trim" role="button"> TAB 2</a>
      <a href="" class="btn btn-primary btn-md btn-trim" role="button"> TAB 3</a>
      <a href="" class="btn btn-primary btn-md btn-trim" role="button"> TAB 4</a>
      <a href="" class="btn btn-primary btn-md btn-trim" role="button"> TAB 5</a>
      <a href="" class="btn btn-primary btn-md btn-trim" role="button"> TAB 6</a>
    </div>
  </div>
{% endblock %}

<!-- <a href="" class="btn btn-info btn-md btn-trim" role="button"> TAB 6</a> -->
