{% extends 'department/base.html' %}
{% block content %}

{% include 'department/dept_act_tabs.html' %} 
<div class="row">
    <div class="col-sm-4">
        <h4 class="text-center alert alert-info">Add new Record</h4>
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" class="btn btn-success" value="Add" />
        </form>
    </div>
</div>

{% endblock content %}


<h1>Events Organized in assosiation with Professional bodies</h1>
