<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test</title>
</head>

<body>
    <h1>Hello This is Test</h1>
</body>

</html>

<!-- <tr role="row">
    <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
        aria-label="Name: activate to sort column descending" style="width: 73px" aria-sort="ascending">
        Name
    </th>
    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
        aria-label="Position: activate to sort column ascending" style="width: 108px">
        Position
    </th>
    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
        aria-label="Office: activate to sort column ascending" style="width: 49px">
        Office
    </th>
    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
        aria-label="Age: activate to sort column ascending" style="width: 20px">
        Age
    </th>
    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
        aria-label="Start date: activate to sort column ascending" style="width: 52px">
        Start date
    </th>
    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
        aria-label="Salary: activate to sort column ascending" style="width: 35px">
        Salary
    </th>
</tr> -->

<!-- <script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    </script> -->
