{% block tabs %}
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<style>
    .nav-tabs li a {
      color: rgb(25, 124, 108);
    }
</style>

<div>
  <h4 class="text-center alert alert-primary">Industry/Institute Interaction</h4>
</div>
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link {% if nbar == 'ind_inst_1_tab' %}active{% endif %}" 
        href="{% url 'ind_inst_1' %}">Industrial Visit of Faculty</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if nbar == 'ind_inst_2_tab' %}active{% endif %}" 
        href="{% url 'ind_inst_2' %}">Training of Faculty</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if nbar == 'ind_inst_3_tab' %}active{% endif %}" 
        href="{% url 'ind_inst_3' %}">Faculty Providing Training</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if nbar == 'ind_inst_4_tab' %}active{% endif %}" 
        href="{% url 'ind_inst_4' %}">Faculty on board of Industry</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if nbar == 'ind_inst_5_tab' %}active{% endif %}" 
        href="{% url 'ind_inst_5' %}">Industrial people on Boards/Committee </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if nbar == 'ind_inst_6_tab' %}active{% endif %}" 
        href="{% url 'ind_inst_6' %}">Faculty patents</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if nbar == 'ind_inst_7_tab' %}active{% endif %}" 
        href="{% url 'ind_inst_7' %}">Sponsored Projects(Faculty)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if nbar == 'ind_inst_8_tab' %}active{% endif %}" 
        href="{% url 'ind_inst_8' %}">Consultancy Projects/Advisory Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if nbar == 'ind_inst_9_tab' %}active{% endif %}" 
        href="{% url 'ind_inst_9' %}">MOU Information</a>
    </li>
  </ul>
<br>

<div>
  <form class="form-inline mr-auto mb-4 d-flex justify-content-end" onkeydown="return event.key != 'Enter';">
    <input id="search" class="form-control mr-sm-2" type="text" placeholder="Search Table..">
    <span class="glyphicon glyphicon-search"></span>
    <button class="btn" onclick="DownloadCsv('table_main')"><i class="fa fa-download"></i> Download</button>
  </form>
</div>

{% endblock %}
