{% extends 'base.html' %}
{% block content %}
{% include 'cur_input_tabs.html' %}
<div class="row">
    {% include 'add_record.html' %}
     <div class="col-sm-9">
       {% if items %}
        <h4 class="text-center alert alert-info"> {{header}} </h4> 
        <table class="table table-bordered  table-hover">

            <thead class="thead-dark">
             <tr>
               <th scope="col" style="text-align: center;">No</th>
               <th scope="col">Project Title</th>
               <th scope="col">Company Representative Name</th>
               <th scope="col">Sponsoring Company</th>
               <th scope="col">Duration (From)</th>
               <th scope="col">Duration (To)</th>
               <th scope="col">Grant Received</th>
               <th scope="col">Status</th>
               <th scope="col">Action</th>
             </tr>
            </thead>

           <tbody>
               {% for item in items %}
             <tr>
               <th scope="row" style="text-align: center;">{{item.id}}</th>
               <td style="text-align: center;">{{item.title}}</td>
               <td style="text-align: center;">{{item.comp_rep}}</td>
               <td style="text-align: center;">{{item.comp_sponsor}}</td>
               <td style="text-align: center;">{{item.from_date}}</td>
               <td style="text-align: center;">{{item.to_date}}</td>
               <td style="text-align: center;">{{item.grant}}</td>
               <td style="text-align: center;">{{item.status}}</td>
               <td>
                <a href="#" class="btn btn-outline-secondary btn-sm">Update</a>
                <form action="#" method="POST">
                 {% csrf_token %}
                    <input type="submit" class="btn btn-outline-danger btn-sm inline" value="Delete">
                </form>
             </td>
             </tr>
               {% endfor %}
           </tbody>
         </table>

        {% else %}
        <h4 class="text-center alert alert-info"> {{header}} </h4>
        <h4 class="text-center alert alert-warning">No Records Found !</h4>
        {% endif %}
     </div>

   </div>


{% endblock %}