{% block tabs %}

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <style>
    .nav-tabs li a {
      color: rgb(25, 124, 108);
    }
    </style>

  <div>
    <!-- <h4 class="text-center alert alert-info">Departmental Activities</h4> -->
    <h3 class="text-center alert alert-primary">Departmental Activities</h3>
  </div>
  
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link {% if nbar == 'dept_act_1' %}active{% endif %}" 
        href="{% url 'dept_act_1' %}">Events Organized</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if nbar == 'dept_act_2' %}active{% endif %}" 
        href="{% url 'dept_act_2' %}">Events Organized(For nearby schools)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if nbar == 'dept_act_3' %}active{% endif %}" 
        href="{% url 'dept_act_3' %}">Events with Professional Bodies</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if nbar == 'dept_act_4' %}active{% endif %}" 
        href="{% url 'dept_act_4' %}">Faculty Development</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if nbar == 'dept_act_5' %}active{% endif %}" 
        href="{% url 'dept_act_5' %}">Student Inter-Institute Participation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if nbar == 'dept_act_6' %}active{% endif %}" 
        href="{% url 'dept_act_6' %}">Start-up</a>
    </li>
  </ul>

{% endblock %}




<!-- <div class="nav nav-tabs">
  <div class="button-group">

    <a href="{% url 'dept_act_1' %}" class="btn btn-primary btn-md btn-trim" role="button"> dept_act_1</a>
    <a href="{% url 'dept_act_2' %}" class="btn btn-primary btn-md btn-trim" role="button"> dept_act_2</a>
    <a href="{% url 'dept_act_3' %}" class="btn btn-primary btn-md btn-trim" role="button"> dept_act_3</a>
    <a href="{% url 'dept_act_4' %}" class="btn btn-primary btn-md btn-trim" role="button"> dept_act_4</a>
    <a href="{% url 'dept_act_5' %}" class="btn btn-primary btn-md btn-trim" role="button"> dept_act_5</a>
    <a href="{% url 'dept_act_6' %}" class="btn btn-primary btn-md btn-trim" role="button"> dept_act_6</a>
    
  </div>
</div> -->