{% extends 'department/base.html' %}

{% block content %}
{% include 'dept_act_tabs.html' %}

<div class="row">
    {% include 'add_record.html' %}
    <div class="col-sm-9">
        {% if event %}
         <h4 class="text-center alert alert-info"> {{header}} </h4> 
         <table class="table table-bordered table-responsive table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">No</th>
                <th scope="col">Activity Name</th>
                <th scope="col">School</th>
                <th scope="col">School Contact</th>
                <th scope="col">Faculty Name</th>
                <th scope="col">No of Participants</th>
                <th scope="col">From</th>
                <th scope="col">To</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                {% for ev in event %}
              <tr>
                <th scope="row" style="text-align: center;">{{ev.id}}</th>
                <td style="text-align: center;">{{ev.act_name}}</td>
                <td style="text-align: center;">{{ev.school}}</td>
                <td style="text-align: center;">{{ev.school_cont}}</td>
                <td style="text-align: center;">{{ev.fac_name}}</td>
                <td style="text-align: center;">{{ev.part_no}}</td>
                <td style="text-align: center;">{{ev.from_date}}</td>
                <td style="text-align: center;">{{ev.to_date}}</td>
              </tr>
                {% endfor %}
            </tbody>
          </table>
         {% else %}
         <h4 class="text-center alert alert-info"> {{header}} </h4>
         <h4 class="text-center alert alert-warning">No Records Found !</h4>
         {% endif %}
      </div>
</div>



{% endblock content %}