{% block tabs %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<style>
    .nav-tabs li a {
      color: rgb(25, 124, 108);
    }
</style>

<div>
  <h4 class="text-center alert alert-primary">Extra Curricular Activities</h4>
</div>
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link {% if nbar == 'extra_curr_1' %}active{% endif %}" 
        href="{% url 'extra_curr_1' %}">Sports</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if nbar == 'extra_curr_2' %}active{% endif %}" 
        href="{% url 'extra_curr_2' %}">Winners</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if nbar == 'extra_curr_3' %}active{% endif %}" 
        href="{% url 'extra_curr_3' %}">Cultural/Club Awards</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if nbar == 'extra_curr_4' %}active{% endif %}" 
        href="{% url 'extra_curr_4' %}">Social Activities</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if nbar == 'extra_curr_5' %}active{% endif %}" 
        href="{% url 'extra_curr_5' %}">Centers/Cells Activities</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if nbar == 'extra_curr_6' %}active{% endif %}" 
        href="{% url 'extra_curr_6' %}">Extra Activities/Acheivement</a>
    </li>
    
  </ul>
<br>

<div>
  <form class="form-inline mr-auto mb-4 d-flex justify-content-end" onkeydown="return event.key != 'Enter';">
    <i class="fa fa-search"></i>
    <input id="search" class="form-control mr-sm-2" style="margin-left: 0.7em" type="text" placeholder="Search Table..">
    <button class="btn btn-outline-success btn-m" onclick="DownloadCsv('table_main')"><i class="fa fa-download"></i> Download</button>
    {% if count %}
    <button class="btn btn-outline-secondary btn-m" type="button" data-toggle="collapse" data-target="#contentId" aria-expanded="false"
        aria-controls="contentId"><i class="fa fa-list"></i> Show Counts</button>
    {% endif %}
  </form>
</div>

{% include 'counts_block.html' %}
{% endblock %}
