{% block tabs %}
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    .nav-tabs li a {
      color: rgb(25, 124, 108);
    }
</style>

<div>
  <h3 class="text-center alert alert-primary">Faculty Achievement</h4>
</div>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link {% if nbar == 'fac_achieve' %}active{% endif %}" 
      href="{% url 'fac_achieve' %}">Achievement List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if nbar == 'fac_book' %}active{% endif %}" 
      href="{% url 'fac_book' %}">Books and Monographs</a>
  </li>
</ul>

<br>
<div>
  <form class="form-inline mr-auto mb-4 d-flex justify-content-end" onkeydown="return event.key != 'Enter';">
    <input id="search" class="form-control mr-sm-2" type="text" placeholder="Search Table..">
    <span class="glyphicon glyphicon-search"></span>
     <button class="btn btn-outline-success btn-m" onclick="DownloadCsv('table_main')"><i class="fa fa-download"></i> Download</button>
  </form>
</div>

{% include 'counts_block.html' %}
{% endblock %}